<div class="wrapper">
    <div class="question_text">{{ question_text }}</div>
    <div class="choices">
        <ol type="A">
            {% for choice in choices %}
            <!-- {% cycle 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' as l %} -->
            <li class="{{ letter }}">
                <div class="box">
                    <input value="{{ l }}" id="{{ l }}" name="choice" type="radio">
                </div>
                <div class="choice">
                    <label for="{{ l }}">{{ choice|safe }}</label>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
